h1{
    font-size: 80px;
    line-height: 104px;
}

h2{
    font-size: 120px;
    line-height: 160px;

}

h3{
    font-size: 50px;
    line-height: 65px;
}   

h4{
    font-size: 30px;
    line-height: 39px;
}

p{
    font-size: 16px;
    line-height: 21px;

}

.p-small{
    font-size: 12px;
    line-height: 15px;
}

@include media-breakpoint-down(md){
    h1{
        font-size: 44px;
        line-height: 57px;
    }

    h2{
        font-size: 48px;
        line-height: 62px;
    }

    h3{
        font-size: 38px;
        line-height: 50px;
    }

    h4{
        font-size: 23px;
        line-height: 30px;
    }
}
