@font-face {
    font-family: "Aeroport";
    src: url('/fonts/aeroport.woff') format('woff');
    font-weight:400;
}

@font-face {
    font-family: "Aeroport-bold";
    src: url("/fonts/Aeroport-bold.woff2") format("woff2");
    font-weight:700;
}