.blue-container{
    position: relative;
    background-color: $primary-blue;
    border-radius: 30px;

    .blue-image-holder{
        position: relative;
        background-color: white;
        border-radius: 48px;
     

        img{
            position: relative;
        }

        @include media-breakpoint-up(md){
            .blue-image-holder{
                max-height: 260px;
                max-width: 180px;
            }
        }


    }

    h2, h3{
        color: white;
    }

    h4{
        color: $dark-grey;
    }

    p{
        color: white;
    }

    
}

.infographic-button{
    position: relative;
    background-color: $primary-green;
   cursor: pointer;
    border-radius: 100px;
    padding-top: 18px;
    padding-bottom: 18px;

    &.infographic-button:hover{
        opacity: 80%;
    }
}

@include media-breakpoint-up(md){
    .infographic-button{
        max-width: 200px;
    }
    
}