.mobile-menu-container{
    position: absolute;
    top: 10%;
    margin: 0;
    padding: 0;
   
}

.mobile-menu{
    position: relative;
    
    top: 10%;
    width: 100%;
    height: 275px;
    background-color: $dark-grey;
    z-index: 100;


    hr{
        position: relative;
        width: 50%;
    }

    a{
        text-decoration: none;
        color: white;

   
    }


}

.mobile-toggle{
    display: none;
    
}

.mobile-toggle.show{
    display: flex;

}

