nav{
    color: white;


}

footer{

    ul{
        text-align: center;


    }
}

#hamburger{
    position: relative;
    outline: none;
    border: none;
    // height: 50px;
    // width: 50px;
    background-color: $dark-grey;

    span{
        position: relative;
        width: 50px;
        height: 5px;
        background-color: white;
        
    }
}
