.header-background-problem-1{
    position: relative;
    background-image: url('../../images/outline-overlooking-soft-factors-02.svg');
    background-position: center center;
    // background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;

    h2{
        color: white;
        text-align: center;
    }

    p{
        color: white
    }

}

.header-background-problem-2{
    position: relative;
    background-image: url('../../images/outline-slowdowns-01.svg');
    background-position: center center;
    // background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;
   
    h2{
        color: white;
        text-align: center;
    }
    p{
        color: white
    }
}

.header-background-problem-3{
    position: relative;
    background-image: url('../../images/outline-knowledge-in-practice-gap-02.svg');
    background-position: center center;
    // background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;
   
    h2{
        color: white;
        text-align: center;
    }
    p{
        color: white
    }
}

@include media-breakpoint-up(sm){
    .header-background-problem-1{
        min-height: 400px;
    }

    .header-background-problem-2{
        min-height: 400px;
    }

    .header-background-problem-3{
        min-height: 400px;
    }
}

@include media-breakpoint-up(md){
    .header-background-problem-1{
        min-height: 560px;
    }

    .header-background-problem-2{
        min-height: 560px;
    }

    .header-background-problem-3{
        min-height: 560px;
    }
}

@include media-breakpoint-up(lg){
    .header-background-problem-1{
        min-height: 660px;
    }

    .header-background-problem-2{
        min-height: 660px;
    }

    .header-background-problem-3{
        min-height: 660px;
    }
}

