.white-container{
    position: relative;
    background-color: #ffff;

    .white-container-image{
        border-radius: 100px;
        object-fit: cover;
        height: 220px;
        width: 220px;
    }

    .red-image-border{
        filter: drop-shadow(8px 8px 0px #F94239);
    }

    .green-image-border{
        filter: drop-shadow(-8px 8px 0px #CFDF00);
    }

    .blue-image-border{
        filter: drop-shadow(8px 8px 0px #00A7B5);
    }


    @include media-breakpoint-up(sm){
        .white-container-image{
            height: 344px;
            width: auto;
        }
    }
    
    h4{
        color: $primary-blue;
    }


    span{
        color: $primary-blue;
    }
}