.hero-background{
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../images/hero-background-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

    .hero-inner-container{
        color: white;
    }

    .hero-image-container{
        position: relative;
       
    }

    .hero-image{
        position: relative;
        filter: drop-shadow(0px 10px 0px #00A0AC);
        border-radius: 0px 0px 100px 100px;
        object-fit: cover;

        @media (min-width: 1000px){
            width: 540px;
        }

        @media (min-width: 1400px){
            width: 660px;
        }

        @media (min-width: 1500px){
            width: 760px;
        }

        @media (min-width: 1680px){
            width: 860px;
        }
    }


    @include media-breakpoint-up(lg){
        .hero-image{
            position: absolute;
            
            border-radius: 100px 0px 0px 100px;
            box-shadow: 0px 20px 0px 10px #00A0AC;
            right: 0;
            top: 0;
        }
    }

    @include media-breakpoint-down(lg){
        .hero-image{
            max-width: 80%;
           
        }
    }

    @include media-breakpoint-down(sm){
        .hero-image{
            max-width: 100%;
        }
    }

   
}